<% scores = (Evaluation::MIN_SCORE.to_i..Evaluation::MAX_SCORE.to_i).collect %>
<% explanation = Evaluation.score_explanation %>
  <p>
    <%= form.label :presentation, '発表' %><br />
    <%= form.select(:presentation_id, Presentation.all(:conditions => @conditions).collect {|presentation| [presentation.title + '(' + presentation.speaker + ')', presentation.id] }) %>
  </p>
  <p>
    <%= form.label :valuator, '評価者' %><br />
    <%= form.text_field :valuator %>
  </p>
  <p>
    <%= form.label :date, '日付' %><br />
    <%= form.datetime_select :date %>
  </p>
  <p>
    <%= form.label :presentation_allotment, '発表の時間配分 / ' + explanation %><br />
    <%= form.select :presentation_allotment, scores %>
  </p>
  <p>
    <%= form.label :presentation_story, '発表の流れ / ' + explanation %><br />
    <%= form.select :presentation_story, scores %>
  </p>
  <p>
    <%= form.label :speaker_wording, '発表者の言葉遣い / ' + explanation %><br />
    <%= form.select :speaker_wording, scores %>
  </p>
  <p>
    <%= form.label :degree_of_understanding, '発表者の理解度 / ' + explanation %><br />
    <%= form.select :degree_of_understanding, scores %>
  </p>
  <p>
    <%= form.label :comments, 'コメント' %><br />
    <%= form.text_area :comments, "cols" => 40, "rows" => 8 %>
  </p>
