  <p>
    <%= form.label :name, '名称' %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :start_date, '開始日' %><br />
    <%= form.datetime_select :start_date %>
  </p>
  <p>
    <%= form.label :end_date, '終了日' %><br />
    <%= form.datetime_select :end_date %>
  </p>
  <p>
    <%= form.label :location, '開催地' %><br />
    <%= form.text_field :location %>
  </p>
